<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TOP 50 ANIME REVIEWS</title>
</head>
<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <ul class="nav">
        <li class="nav-item nav-tabs"><a class ="nav-link" href="/">HOME</a></li>
      </ul>
   
  </nav>
  