<body>
  <table id="list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Release<br>Year</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% anime.forEach(function(m) { %>
          <tr>
            <td><%= m.title %></td>
            <td><img src=<%= m.image_url %>></td>
            <td><a href="details/<%= m.base64 %>">DETAILS</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
  </body>





  <!--  anime.every(function(m) { %>
          <tr>
            <td>= m.title %></td>
            <td>= m.image_url %></td>
            <td><a href="/anime/<= m._id %>">DETAILS</a></td>
          </tr>
          < }); %> -->