<%- include('./partials/header.ejs') %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" charset="utf-8">

</head>

<body>
  <div class="container">
    <div class="table" style="display: inline-block">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Preview</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% anime.forEach(function(m) { %>
          <tr>
            <td><%= m.title %></td>
            <td><a href="details/<%= m.base64 %>"><img src=<%= m.image_url %>></a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      </div>
    </div>
  </body>


